---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {
        img && (
          <Image
            src={img}
            width={750}
            height={422}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[10rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
        </h1>
        <p class="py-1" set:html={desc} />
        {
          badge && (
            <div class="mb-2">
              <div class="badge badge-outline badge-secondary font-medium">
                {badge}
              </div>
            </div>
          )
        }
        <div class="card-actions justify-end">
          {
            tags &&
              tags.map((tag) => (
                <a
                  href={`${tag.link}`}
                  target="_blank"
                  class="btn btn-neutral btn-outline btn-xs"
                >
                  {tag.name}
                </a>
              ))
          }
        </div>
      </div>
    </div>
  </a>
</div>
