---
import "../styles/global.css";

import BaseHead from "../components/BaseHead.astro";
import Links from "../components/academic/Links.astro";
import Authors from "../components/academic/Authors.astro";
import Notes from "../components/academic/Notes.astro";
import { ClientRouter } from "astro:transitions";
import type { Author, Note, Link } from "../types/types";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

interface Props {
  frontmatter: {
    title: string;
    authors: Author[];
    conference?: string;
    notes?: Note[];
    institutions?: Note[];
    links: Link[];
    description?: string;
    image?: string;
    ogType?: string;
  };
}

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  authors,
  conference,
  notes,
  institutions,
  links,
  ogType,
} = Astro.props.frontmatter;
---

<!doctype html>
<html lang="en" data-theme="emerald">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      ogType={ogType}
    />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex-swap.min.css"
      as="style"
      integrity="sha384-XqqnskmP1dvxUvvZ3AXYAFD9QfxyU22X7ZwX2TuTlO4Mn4+u3i2d0ypR7ooPKcYc"
      crossorigin="anonymous"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex-swap.min.css"
        integrity="sha384-XqqnskmP1dvxUvvZ3AXYAFD9QfxyU22X7ZwX2TuTlO4Mn4+u3i2d0ypR7ooPKcYc"
        crossorigin="anonymous"
      /></noscript
    >
    {TRANSITION_API && <ClientRouter />}
  </head>
  <body
    class="prose prose-md prose-zinc prose-a:text-blue-500 prose-a:no-underline prose-a:hover:underline prose-a:font-normal max-w-[50rem] mx-auto pt-16 pb-6 px-6 text-justify"
  >
    <header>
      <h1 class="text-4xl text-center font-medium">{title}</h1>
      <div class="flex flex-col items-center mb-10">
        <Authors authors={authors} />
        {institutions && <Notes notes={institutions} />}
        {notes && <Notes notes={notes} />}
        {conference && <div class="text-lg my-4">{conference}<sup>✨</sup></div>}
        {links && <Links links={links} />}
      </div>
    </header>
    <main>
      <slot />
    </main>
    <footer class="w-full flex justify-center">
      <p class="text-center prose-sm">
        This page was built using <a
          href="https://github.com/RomanHauksson/academic-project-astro-template"
          >Roman Hauksson's template</a
        >, adapted from <a
          href="https://github.com/eliahuhorwitz/Academic-project-page-template"
          >Eliahu Horwitz</a
        > and <a href="https://nerfies.github.io/">Keunhong Park</a>. Licensed
        under <a href="http://creativecommons.org/licenses/by-sa/4.0/"
          >CC BY-SA 4.0</a
        >.
      </p>
    </footer>
  </body>
</html>
